<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2019-2020</p>
                        <div class="h5">Web Development Course</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Tech-Career Technology Training Center </div>
                        <h4 class="category"> 1400-academic hours of training including:</h4>
                        <ul>
                            <li> <b>Front-End:</b> React, JavaScript, HTML5, CSS, Bootstrap, JQUERY </li>
                            <li> <b>Back-End:</b> NodeJS, Express </li>
                            <li> <b>Version control:</b> GitHub </li>
                            <li> <b>IDE:</b> Visual Studio Code </li>
                            <li> <b>Database:</b> MongoDB </li>
                            <li> <b>Additional technologies:</b> JSON, AJAX </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>