<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true"
                style="background-image: url('assets/images/introduction.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="profile-image">
                            <img src="assets/images/myImage.jpeg" alt="Image" />
                </div>
                
                    <div class="h2 title"> Rachel Biru </div>
                    <p class="category text-white">Full Stack Web Developer</p>
                    <a class="btn btn-primary smooth-scroll mr-2" href="https://github.com/rachelbiru"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Github</a>
                    <a class="btn btn-primary"
                        href="https://docs.google.com/document/d/1ggKzcIY-YG-pimhjJ4XSTkyw6JWaFdIAqsdfkwxYQms"
                        target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

